[Unit]
Description=Prometheus exporter for Pimoroni Enviro environmental monitoring boards
Documentation=https://github.com/terradolor/prometheus-enviro-exporter
After=network.target

[Service]
User=enviro
Group=enviro
WorkingDirectory=/home/enviro/prometheus-enviro-exporter
ExecStart=python3 -B prometheus-enviro-exporter.py --prometheus-ip 0.0.0.0
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
